{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
   <div class="weatherme">
     <h1 class="legend">Your current weather and forecast at your fingertips!</h1>
     
   </div>
   
    <form method="post">
        {% csrf_token %}
        <input type="text" name="city1" placeholder="Enter a City">
        <input type="text" name="city2" placeholder="Enter a City">
        <button type="submit">Compare Weather</button>
    </form>

    <div class="comparison-container">
        {% if weather_data1 %}
            <div class="city-container">
                {% include "city_weather.html" with weather_data=weather_data1 daily_forecasts=daily_forecasts1 %}
            </div>
        {% endif %}
        {% if weather_data2 %}
            <div class="city-container">
                {% include "city_weather.html" with weather_data=weather_data2 daily_forecasts=daily_forecasts2 %}
            </div>
        {% endif %}
    </div>
</body>
</html>
