body {
  font-family: Arial, sans-serif;
  size: 100px;
  background-image: url(../static/images/photo3.jpg);
  background-size: cover;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  padding: 50px;
}
  
.legend { 
  font-family: "Caveat";
  color: rgb(186, 243, 243);
  margin-bottom: 100px;
}

form {
  margin: 20px 0;
}

input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
  
button {
  background-color: #6cb3e5;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
} 

.city-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forecast-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
  

.forecast {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px;
  width: calc(100% / 5 - 20px);
  box-sizing: border-box;
}
  
  @media (max-width: 767px) {
    .forecast {
      width: calc(50% - 20px);
    }
  }
  
  @media (max-width: 480px) {
    .forecast {
      width: 100%;
    }
  }
